Client/Client.Windows/Service References/CardServerService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch="http://krumholz.info/tcgservice" xmlns:tns="http://krumholz.info/tcgservice" targetNamespace="http://krumholz.info/tcgservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://krumholz.info/tcgservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="submitTransactionsRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="transaction" type="tns:transaction" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="submitTransactionsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="success" type="xs:boolean" />
            <xs:element name="errorMessage" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="registerRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="user" type="tns:key" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="registerResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="users" type="tns:key" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="broadcastMessageRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="relayMessage" type="tns:relayMessage" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="broadcastMessageResponse">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="relayMessageRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="relayMessage" type="tns:relayMessage" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="relayMessageResponse">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="getRelayMessageRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="for" type="tns:key" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getRelayMessageResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="relayMessage" type="tns:relayMessage" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getHeadsRequest">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="getHeadsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="transactions" type="tns:transaction" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getTransactionRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="hash" type="xs:base64Binary" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getTransactionResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="transaction" type="tns:transaction" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ServerIdentityRequest">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="ServerIdentityResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="identity" type="tns:serverIdentity" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listCardDataRequest">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="listCardDataResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="uuids">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="uuid" type="tns:uuid" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getCardDataRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="cardDataId" type="tns:uuid" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getCardDataResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="cardData" type="tns:cardData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getCardInstanceRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="cardInstanceId" type="tns:uuid" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getCardInstanceResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="cardInstance" type="tns:cardInstance" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getImageDataRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="imageId" type="tns:uuid" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getImageDataResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="imageData" type="tns:imageData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createCardInstanceRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ownerKey" type="tns:key" />
            <xs:element name="cardDataId" type="tns:uuid" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createCardInstanceResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="transactions">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="transaction" type="tns:transaction" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listRuleSetRequest">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="listRuleSetResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="uuids">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="uuid" type="tns:uuid" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getRuleSetRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="id" type="tns:uuid" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getRuleSetResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ruleSet" type="tns:ruleSet" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createBoosterRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ownerKey" type="tns:key" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createBoosterResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="transactions">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="transaction" type="tns:transaction" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="credentials">
        <xs:sequence>
          <xs:element maxOccurs="1" name="email" type="xs:string" />
          <xs:element maxOccurs="1" name="password" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cardInstance">
        <xs:sequence>
          <xs:element name="id" type="tns:uuid" />
          <xs:element name="cardDataId" type="tns:uuid" />
          <xs:element name="creator" type="tns:key" />
          <xs:element name="signature" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ruleSet">
        <xs:sequence>
          <xs:element name="id" type="tns:uuid" />
          <xs:element name="creator" type="tns:key" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="revision" type="xs:int" />
          <xs:element name="script" type="xs:string" />
          <xs:element name="mandatoryKeys">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" name="key">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="name" type="xs:string" />
                      <xs:element name="valueType" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="signature" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cardData">
        <xs:sequence>
          <xs:element name="id" type="tns:uuid" />
          <xs:element name="creator" type="tns:key" />
          <xs:element name="edition" type="xs:string" />
          <xs:element name="cardRevision" type="xs:int" />
          <xs:element name="imageId" type="tns:uuid" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="values">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" name="keyValue">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="key" type="xs:string" />
                      <xs:element name="type" type="xs:string" />
                      <xs:element name="value" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="signature" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="imageData">
        <xs:sequence>
          <xs:element name="id" type="tns:uuid" />
          <xs:element name="image" type="xs:base64Binary" />
          <xs:element name="creator" type="tns:key" />
          <xs:element name="signature" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="transaction">
        <xs:sequence>
          <xs:element name="a" type="tns:key" />
          <xs:element name="b" type="tns:key" />
          <xs:element name="signatureA" type="xs:base64Binary" />
          <xs:element name="signatureB" type="xs:base64Binary" />
          <xs:element name="transfers">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" name="transfer" type="tns:transfer" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="transfer">
        <xs:sequence>
          <xs:element name="giver" type="tns:key" />
          <xs:element name="recipient" type="tns:key" />
          <xs:element name="cardId" type="xs:string" />
          <xs:element name="creator" type="tns:key" />
          <xs:element name="cardTransferIndex" type="xs:int" />
          <xs:element name="previousTransactionHash" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="key">
        <xs:sequence>
          <xs:element name="modulus" type="xs:base64Binary" />
          <xs:element name="exponent" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="serverIdentity">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="key" type="tns:key" />
          <xs:element name="icon" type="tns:uuid" />
          <xs:element name="uri" type="xs:string" />
          <xs:element name="revision" type="xs:int" />
          <xs:element name="signature" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="relayMessage">
        <xs:sequence>
          <xs:element name="from" type="tns:key" />
          <xs:element name="to" type="tns:key" />
          <xs:element name="data" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="uuid">
        <xs:restriction base="xs:string" />
      </xs:simpleType>
      <xs:simpleType name="player">
        <xs:restriction base="xs:string">
          <xs:enumeration value="none" />
          <xs:enumeration value="player1" />
          <xs:enumeration value="player2" />
          <xs:enumeration value="any" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="displayType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="hand" />
          <xs:enumeration value="stack" />
          <xs:enumeration value="row" />
          <xs:enumeration value="column" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getTransactionRequest">
    <wsdl:part name="getTransactionRequest" element="tns:getTransactionRequest" />
  </wsdl:message>
  <wsdl:message name="submitTransactionsRequest">
    <wsdl:part name="submitTransactionsRequest" element="tns:submitTransactionsRequest" />
  </wsdl:message>
  <wsdl:message name="getRelayMessageResponse">
    <wsdl:part name="getRelayMessageResponse" element="tns:getRelayMessageResponse" />
  </wsdl:message>
  <wsdl:message name="listCardDataRequest">
    <wsdl:part name="listCardDataRequest" element="tns:listCardDataRequest" />
  </wsdl:message>
  <wsdl:message name="getRuleSetRequest">
    <wsdl:part name="getRuleSetRequest" element="tns:getRuleSetRequest" />
  </wsdl:message>
  <wsdl:message name="getTransactionResponse">
    <wsdl:part name="getTransactionResponse" element="tns:getTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="relayMessageRequest">
    <wsdl:part name="relayMessageRequest" element="tns:relayMessageRequest" />
  </wsdl:message>
  <wsdl:message name="getCardDataResponse">
    <wsdl:part name="getCardDataResponse" element="tns:getCardDataResponse" />
  </wsdl:message>
  <wsdl:message name="relayMessageResponse">
    <wsdl:part name="relayMessageResponse" element="tns:relayMessageResponse" />
  </wsdl:message>
  <wsdl:message name="listRuleSetRequest">
    <wsdl:part name="listRuleSetRequest" element="tns:listRuleSetRequest" />
  </wsdl:message>
  <wsdl:message name="broadcastMessageRequest">
    <wsdl:part name="broadcastMessageRequest" element="tns:broadcastMessageRequest" />
  </wsdl:message>
  <wsdl:message name="createCardInstanceResponse">
    <wsdl:part name="createCardInstanceResponse" element="tns:createCardInstanceResponse" />
  </wsdl:message>
  <wsdl:message name="broadcastMessageResponse">
    <wsdl:part name="broadcastMessageResponse" element="tns:broadcastMessageResponse" />
  </wsdl:message>
  <wsdl:message name="listCardDataResponse">
    <wsdl:part name="listCardDataResponse" element="tns:listCardDataResponse" />
  </wsdl:message>
  <wsdl:message name="getCardInstanceResponse">
    <wsdl:part name="getCardInstanceResponse" element="tns:getCardInstanceResponse" />
  </wsdl:message>
  <wsdl:message name="ServerIdentityRequest">
    <wsdl:part name="ServerIdentityRequest" element="tns:ServerIdentityRequest" />
  </wsdl:message>
  <wsdl:message name="getRuleSetResponse">
    <wsdl:part name="getRuleSetResponse" element="tns:getRuleSetResponse" />
  </wsdl:message>
  <wsdl:message name="registerResponse">
    <wsdl:part name="registerResponse" element="tns:registerResponse" />
  </wsdl:message>
  <wsdl:message name="registerRequest">
    <wsdl:part name="registerRequest" element="tns:registerRequest" />
  </wsdl:message>
  <wsdl:message name="ServerIdentityResponse">
    <wsdl:part name="ServerIdentityResponse" element="tns:ServerIdentityResponse" />
  </wsdl:message>
  <wsdl:message name="listRuleSetResponse">
    <wsdl:part name="listRuleSetResponse" element="tns:listRuleSetResponse" />
  </wsdl:message>
  <wsdl:message name="getImageDataResponse">
    <wsdl:part name="getImageDataResponse" element="tns:getImageDataResponse" />
  </wsdl:message>
  <wsdl:message name="getImageDataRequest">
    <wsdl:part name="getImageDataRequest" element="tns:getImageDataRequest" />
  </wsdl:message>
  <wsdl:message name="getHeadsRequest">
    <wsdl:part name="getHeadsRequest" element="tns:getHeadsRequest" />
  </wsdl:message>
  <wsdl:message name="createBoosterRequest">
    <wsdl:part name="createBoosterRequest" element="tns:createBoosterRequest" />
  </wsdl:message>
  <wsdl:message name="getHeadsResponse">
    <wsdl:part name="getHeadsResponse" element="tns:getHeadsResponse" />
  </wsdl:message>
  <wsdl:message name="createCardInstanceRequest">
    <wsdl:part name="createCardInstanceRequest" element="tns:createCardInstanceRequest" />
  </wsdl:message>
  <wsdl:message name="getCardInstanceRequest">
    <wsdl:part name="getCardInstanceRequest" element="tns:getCardInstanceRequest" />
  </wsdl:message>
  <wsdl:message name="submitTransactionsResponse">
    <wsdl:part name="submitTransactionsResponse" element="tns:submitTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="getRelayMessageRequest">
    <wsdl:part name="getRelayMessageRequest" element="tns:getRelayMessageRequest" />
  </wsdl:message>
  <wsdl:message name="getCardDataRequest">
    <wsdl:part name="getCardDataRequest" element="tns:getCardDataRequest" />
  </wsdl:message>
  <wsdl:message name="createBoosterResponse">
    <wsdl:part name="createBoosterResponse" element="tns:createBoosterResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicePort">
    <wsdl:operation name="getTransaction">
      <wsdl:input name="getTransactionRequest" message="tns:getTransactionRequest" />
      <wsdl:output name="getTransactionResponse" message="tns:getTransactionResponse" />
    </wsdl:operation>
    <wsdl:operation name="submitTransactions">
      <wsdl:input name="submitTransactionsRequest" message="tns:submitTransactionsRequest" />
      <wsdl:output name="submitTransactionsResponse" message="tns:submitTransactionsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getRelayMessage">
      <wsdl:input name="getRelayMessageRequest" message="tns:getRelayMessageRequest" />
      <wsdl:output name="getRelayMessageResponse" message="tns:getRelayMessageResponse" />
    </wsdl:operation>
    <wsdl:operation name="listCardData">
      <wsdl:input name="listCardDataRequest" message="tns:listCardDataRequest" />
      <wsdl:output name="listCardDataResponse" message="tns:listCardDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="getRuleSet">
      <wsdl:input name="getRuleSetRequest" message="tns:getRuleSetRequest" />
      <wsdl:output name="getRuleSetResponse" message="tns:getRuleSetResponse" />
    </wsdl:operation>
    <wsdl:operation name="relayMessage">
      <wsdl:input name="relayMessageRequest" message="tns:relayMessageRequest" />
      <wsdl:output name="relayMessageResponse" message="tns:relayMessageResponse" />
    </wsdl:operation>
    <wsdl:operation name="getCardData">
      <wsdl:input name="getCardDataRequest" message="tns:getCardDataRequest" />
      <wsdl:output name="getCardDataResponse" message="tns:getCardDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="listRuleSet">
      <wsdl:input name="listRuleSetRequest" message="tns:listRuleSetRequest" />
      <wsdl:output name="listRuleSetResponse" message="tns:listRuleSetResponse" />
    </wsdl:operation>
    <wsdl:operation name="broadcastMessage">
      <wsdl:input name="broadcastMessageRequest" message="tns:broadcastMessageRequest" />
      <wsdl:output name="broadcastMessageResponse" message="tns:broadcastMessageResponse" />
    </wsdl:operation>
    <wsdl:operation name="createCardInstance">
      <wsdl:input name="createCardInstanceRequest" message="tns:createCardInstanceRequest" />
      <wsdl:output name="createCardInstanceResponse" message="tns:createCardInstanceResponse" />
    </wsdl:operation>
    <wsdl:operation name="getCardInstance">
      <wsdl:input name="getCardInstanceRequest" message="tns:getCardInstanceRequest" />
      <wsdl:output name="getCardInstanceResponse" message="tns:getCardInstanceResponse" />
    </wsdl:operation>
    <wsdl:operation name="ServerIdentity">
      <wsdl:input name="ServerIdentityRequest" message="tns:ServerIdentityRequest" />
      <wsdl:output name="ServerIdentityResponse" message="tns:ServerIdentityResponse" />
    </wsdl:operation>
    <wsdl:operation name="register">
      <wsdl:input name="registerRequest" message="tns:registerRequest" />
      <wsdl:output name="registerResponse" message="tns:registerResponse" />
    </wsdl:operation>
    <wsdl:operation name="getImageData">
      <wsdl:input name="getImageDataRequest" message="tns:getImageDataRequest" />
      <wsdl:output name="getImageDataResponse" message="tns:getImageDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHeads">
      <wsdl:input name="getHeadsRequest" message="tns:getHeadsRequest" />
      <wsdl:output name="getHeadsResponse" message="tns:getHeadsResponse" />
    </wsdl:operation>
    <wsdl:operation name="createBooster">
      <wsdl:input name="createBoosterRequest" message="tns:createBoosterRequest" />
      <wsdl:output name="createBoosterResponse" message="tns:createBoosterResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicePortSoap11" type="tns:ServicePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTransaction">
      <soap:operation soapAction="" />
      <wsdl:input name="getTransactionRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTransactionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="submitTransactions">
      <soap:operation soapAction="" />
      <wsdl:input name="submitTransactionsRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="submitTransactionsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRelayMessage">
      <soap:operation soapAction="" />
      <wsdl:input name="getRelayMessageRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getRelayMessageResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listCardData">
      <soap:operation soapAction="" />
      <wsdl:input name="listCardDataRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="listCardDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRuleSet">
      <soap:operation soapAction="" />
      <wsdl:input name="getRuleSetRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getRuleSetResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="relayMessage">
      <soap:operation soapAction="" />
      <wsdl:input name="relayMessageRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="relayMessageResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCardData">
      <soap:operation soapAction="" />
      <wsdl:input name="getCardDataRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCardDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listRuleSet">
      <soap:operation soapAction="" />
      <wsdl:input name="listRuleSetRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="listRuleSetResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="broadcastMessage">
      <soap:operation soapAction="" />
      <wsdl:input name="broadcastMessageRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="broadcastMessageResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createCardInstance">
      <soap:operation soapAction="" />
      <wsdl:input name="createCardInstanceRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createCardInstanceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCardInstance">
      <soap:operation soapAction="" />
      <wsdl:input name="getCardInstanceRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCardInstanceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServerIdentity">
      <soap:operation soapAction="" />
      <wsdl:input name="ServerIdentityRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ServerIdentityResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="register">
      <soap:operation soapAction="" />
      <wsdl:input name="registerRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="registerResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImageData">
      <soap:operation soapAction="" />
      <wsdl:input name="getImageDataRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getImageDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHeads">
      <soap:operation soapAction="" />
      <wsdl:input name="getHeadsRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getHeadsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBooster">
      <soap:operation soapAction="" />
      <wsdl:input name="createBoosterRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createBoosterResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="tcgservice">
    <wsdl:port name="http" binding="tns:ServicePortSoap11">
      <soap:address location="http://project-tcg.azurewebsites.net/ws" />
    </wsdl:port>
    <wsdl:port name="https" binding="tns:ServicePortSoap11">
      <soap:address location="https://project-tcg.azurewebsites.net/ws" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>