Client.Store/Service References/CardServerService/CardServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://service.cardserver.pa.krumholt.fh.trier.de/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="CardServiceService" targetNamespace="http://service.cardserver.pa.krumholt.fh.trier.de/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:9999/cardserver?xsd=1" namespace="http://service.cardserver.pa.krumholt.fh.trier.de/" />
    </xsd:schema>
  </types>
  <message name="GetUserCertificate">
    <part name="parameters" element="tns:GetUserCertificate" />
  </message>
  <message name="GetUserCertificateResponse">
    <part name="parameters" element="tns:GetUserCertificateResponse" />
  </message>
  <message name="GetServerCertificate">
    <part name="parameters" element="tns:GetServerCertificate" />
  </message>
  <message name="GetServerCertificateResponse">
    <part name="parameters" element="tns:GetServerCertificateResponse" />
  </message>
  <message name="GetCardData">
    <part name="parameters" element="tns:GetCardData" />
  </message>
  <message name="GetCardDataResponse">
    <part name="parameters" element="tns:GetCardDataResponse" />
  </message>
  <message name="CreateAccount">
    <part name="parameters" element="tns:CreateAccount" />
  </message>
  <message name="CreateAccountResponse">
    <part name="parameters" element="tns:CreateAccountResponse" />
  </message>
  <message name="GetAlias">
    <part name="parameters" element="tns:GetAlias" />
  </message>
  <message name="GetAliasResponse">
    <part name="parameters" element="tns:GetAliasResponse" />
  </message>
  <message name="DeleteAccount">
    <part name="parameters" element="tns:DeleteAccount" />
  </message>
  <message name="DeleteAccountResponse">
    <part name="parameters" element="tns:DeleteAccountResponse" />
  </message>
  <message name="GetUserId">
    <part name="parameters" element="tns:GetUserId" />
  </message>
  <message name="GetUserIdResponse">
    <part name="parameters" element="tns:GetUserIdResponse" />
  </message>
  <message name="GetCard">
    <part name="parameters" element="tns:GetCard" />
  </message>
  <message name="GetCardResponse">
    <part name="parameters" element="tns:GetCardResponse" />
  </message>
  <portType name="CardService">
    <operation name="GetUserCertificate">
      <input wsam:Action="http://service.cardserver.pa.krumholt.fh.trier.de/CardService/GetUserCertificateRequest" message="tns:GetUserCertificate" />
      <output wsam:Action="http://service.cardserver.pa.krumholt.fh.trier.de/CardService/GetUserCertificateResponse" message="tns:GetUserCertificateResponse" />
    </operation>
    <operation name="GetServerCertificate">
      <input wsam:Action="http://service.cardserver.pa.krumholt.fh.trier.de/CardService/GetServerCertificateRequest" message="tns:GetServerCertificate" />
      <output wsam:Action="http://service.cardserver.pa.krumholt.fh.trier.de/CardService/GetServerCertificateResponse" message="tns:GetServerCertificateResponse" />
    </operation>
    <operation name="GetCardData">
      <input wsam:Action="http://service.cardserver.pa.krumholt.fh.trier.de/CardService/GetCardDataRequest" message="tns:GetCardData" />
      <output wsam:Action="http://service.cardserver.pa.krumholt.fh.trier.de/CardService/GetCardDataResponse" message="tns:GetCardDataResponse" />
    </operation>
    <operation name="CreateAccount">
      <input wsam:Action="http://service.cardserver.pa.krumholt.fh.trier.de/CardService/CreateAccountRequest" message="tns:CreateAccount" />
      <output wsam:Action="http://service.cardserver.pa.krumholt.fh.trier.de/CardService/CreateAccountResponse" message="tns:CreateAccountResponse" />
    </operation>
    <operation name="GetAlias">
      <input wsam:Action="http://service.cardserver.pa.krumholt.fh.trier.de/CardService/GetAliasRequest" message="tns:GetAlias" />
      <output wsam:Action="http://service.cardserver.pa.krumholt.fh.trier.de/CardService/GetAliasResponse" message="tns:GetAliasResponse" />
    </operation>
    <operation name="DeleteAccount">
      <input wsam:Action="http://service.cardserver.pa.krumholt.fh.trier.de/CardService/DeleteAccountRequest" message="tns:DeleteAccount" />
      <output wsam:Action="http://service.cardserver.pa.krumholt.fh.trier.de/CardService/DeleteAccountResponse" message="tns:DeleteAccountResponse" />
    </operation>
    <operation name="GetUserId">
      <input wsam:Action="http://service.cardserver.pa.krumholt.fh.trier.de/CardService/GetUserIdRequest" message="tns:GetUserId" />
      <output wsam:Action="http://service.cardserver.pa.krumholt.fh.trier.de/CardService/GetUserIdResponse" message="tns:GetUserIdResponse" />
    </operation>
    <operation name="GetCard">
      <input wsam:Action="http://service.cardserver.pa.krumholt.fh.trier.de/CardService/GetCardRequest" message="tns:GetCard" />
      <output wsam:Action="http://service.cardserver.pa.krumholt.fh.trier.de/CardService/GetCardResponse" message="tns:GetCardResponse" />
    </operation>
  </portType>
  <binding name="CardServicePortBinding" type="tns:CardService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetUserCertificate">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetServerCertificate">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetCardData">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreateAccount">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetAlias">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DeleteAccount">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetUserId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetCard">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CardServiceService">
    <port name="CardServicePort" binding="tns:CardServicePortBinding">
      <soap:address location="http://localhost:9999/cardserver" />
    </port>
  </service>
</definitions>